*{
    background-color: lightgray;
    box-sizing:border-box;
}
.circles{
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*align-content: space-between;*/

}
#circle, #circle2, #circle3, #circle4{
    margin: 10px;
    border: 3px solid white


}
.col-xl-4 .smallerPhotos{
    height:90px;
    width:90px;

}
/*.col-xl-4 p {*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*}*/
.col-xl-4 .words{
    float:right;
}
